<div class="container-fluid">
<div *ngIf="current">
  <h2>My Favorites</h2>
  <div class="show-content">
    <img [src]='current.image_original' style="float: left; margin-right: 15px;" />
    <div class="show-name">{{current.show_name}}</div>
    <div class="show-info">{{current.genres}} &#8212; {{current.runtime}} minutes &#8212; {{current.language}}</div>
    <div>{{current. premiered | date:'fullDate'}}</div><br />
    {{current.summary}}
  </div>
</div>
  

<div *ngIf="previous">
<h2>Genres</h2>
<div class="show-content">
    <img [src]='previous.image_original' style="float: left; margin-right: 15px;" />
    <div class="show-name">{{previous.show_name}}</div>
    <div class="show-info">{{previous.genres}} &#8212; {{previous.runtime}} &#8212; {{previous.language}}</div>
    <div>{{previous. premiered | date:'fullDate'}}</div><br />
    {{previous.summary}}
  </div>
</div>
</div>
