<div class="container-fluid">
<div *ngIf="current">
  <h2>Results</h2>
  <div class="show-content">
    <img [src]='current.image_original' style="float: left; margin-right: 15px;" />
    <div class="show-name">{{current.show_name}}</div>
    <div class="show-info">Genres: {{current.genres}}</div>
    <div class="show-info"> Runtime: {{current.runtime}} minutes </div>
    <div class="show-info"> Language: {{current.language}}</div>
    <div class="show-info"> Premiere Date : {{current. premiered | date:'fullDate'}}</div><br/>
     <div class="show-info">
      {{current.summary}}
    </div>
  </div>
</div>
