/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
body{
    background-color: #333333;
    font-size: 16px;
    color: #FFFFFF;
}
.search {
    margin-top: 0;
    float: right;
}
.mat-toolbar.mat-primary {
    background: #000000;
    color: #ffaa00;
    font-size: 2.3em;
    font-family: "Quicksand", sans-serif;
}
.container-fluid{
width: 80%;
margin-right: auto;
margin-left: auto;
}
h1.show-name { 
    color:#ffaa00;
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
    line-height: normal;
}
.show-info { 
    font-size: 1.2em;
    line-height: normal;
}
.show-content {
    margin: 15px;
    height: auto;
}
.tvshow-detail {
    margin: 15px;
    height: 710px;
}
.search {
    position:absolute;
    right:5%;
    top:2%;
    background-color:#5e5e5e;
    height: 39px;
    border-radius: 10px;
}
 h1 {
    color:#ffaa00;
    font-family: "Quicksand", sans-serif !important;
    float:auto;
    
}
h1.show-detail {
    color:#ffaa00;
    font-family: "Quicksand", sans-serif;
    font-size: 3em;
    float:auto;
}
.emulated-flex-gap {
    --gap: 120px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
  }
  
  .emulated-flex-gap > * {
    margin: var(--gap) 0 0 var(--gap);
    width: 345px;
  }

 .row {
    margin-bottom: 10%;
 } 

.mat-focused .mat-form-field-label {
    color: #ffaa00 !important;
   }
  
.mat-form-field-ripple {
   background-color:#ffaa00 !important;;
  }
  mat-hint {
    color: #5e5e5e !important;
 }
 .mat-toolbar {
     height: 75px;

 }